body, html{
  margin: 0px;
}
.bodyContent p{
  display: flex;
  font-size: 2.5vmin;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
}
.menu {
    display: flex;
    padding: 1vmin;
    font-size: 2.5vmin;
    justify-content: space-around;
    background-image: linear-gradient(to bottom right, #8b9dc3, white);
} /* menu overlaps background image in subcontainer, background color of menu is a gradient from a blue to white tone;
     used justify content to maintain equal space between each menu option*/
.menu a{
  color: white;
}
.subContainer{
  display: flex;
  flex-direction:column;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center center;
  height: 80vh;
  color: white;
  font-size: 2.5vmin;
  justify-content:center;
 /* background image stretched to cover whole screen*/
}
.header h1, h2{
  display: flex;
  justify-content:center;
  align-items:center;
  font-size: 4vmin;
}
.siteIcon {
  position: fixed;
  background-image: url("globe.png");
  background-size: cover;
  width: 75px;
  height: 75px;
  top: 0px;
  right: 0px;
  margin: 3vmin;;
  text-align: center;
  line-height: 75px;
  /*the above specifies position and size of icon image*/
}
.bodyContainer{
  display:flex;
  height: 150vh;
  font-size: 2.5vmin;
}
.articleContent{
  width: 100vw;
  height: 150vh;
  flex-direction: column;

}
.articlePics{
  flex-direction:column;
  justify-content: center;
  width: 50vw;
}
.section{
  height: 50vh;
  margin-top:3vmin;
  padding-left: 3vmin;
  padding-bottom: 3vmin;
  flex-direction: row;
  border-bottom: 2px solid #8b9dc3;
}
.articlePics img, iframe{
  width: 40vw;
  margin-top:3vmin;
  padding-bottom: 3vmin;
  height: 50vh;
  border-bottom: 2px solid #8b9dc3;
} /* the above centers each image on the page*/
.resourceBody{
  display:flex;
  height: 50vh;
  font-size: 2.5vmin;
}
.names{
  flex-direction:column;
  justify-content: center;
  width: 50vw;
}
.names p{
  height: 10vh;
  margin-top:3vmin;
  padding-left: 3vmin;
  padding-bottom: 3vmin;
  flex-direction: row;
  border-bottom: 2px solid #8b9dc3;
}
.siteLinks {
  flex-direction:column;
  justify-content: center;
  width: 50vw;
}
.siteLinks p{
  height: 10vh;
  margin-top:3vmin;
  padding-left: 3vmin;
  padding-bottom: 3vmin;
  flex-direction: row;
  border-bottom: 2px solid #8b9dc3;
}
